html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto';
}
.header-div{
    background-color: rgba(217, 210, 203, 0.882);
    padding: 25px;
}
.ul-block{
    display: flex;
}
.header-div{
    display: flex;
    justify-content: space-between;
}
.nav-li{
    margin-right: 20px;
}
.theme-img{
    background-image:url(../img/theme.jpeg) ;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* page1 section1 */
.page1-section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.dress-img{
    height: 650px;
}
.dress-text-div{
    font-size: 28px;
    text-align: end;
    padding: 30px;
}
.dress-heading{
    font-size: 60px;
    font-weight: 800;
    line-height: 120px;
}
.dress-text{
    font-size: 24px;
}
.dress-shop{
    line-height: 200px;
    font-size: 28px;
    font-weight: 700;
    text-decoration-line: underline;
}
.blouses-text-div{
    font-size: 28px;
    padding: 30px;
    text-align: start;
}
/* footer */
.footer-bar {
    background-color: rgba(217, 210, 203, 0.882);
}
.footer-div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px 20px 0px;
}
.footer-text {
    max-width: 378px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #000000;
    line-height: 25px;
    font-size: 13px;
    font-weight: 800;
}
.footer-icons-div {
    padding-top: 20px;
    max-width: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #000000;
}